.explore {
    padding: 20px;
    margin-left: 220px;
    /* Adjust for sidebar width */
}

.xixi {
    border: 1px solid black;
}

.hahaha {
    
    all: initial;
    font-size: 2em;
    margin-bottom: 60px;
}