:root {
  --c-sidebar: #000000;
  --c-default: #d9d9d9;
  --c-active: #1da1f2;
  --c-hover: #081018;
}

aside {
  width: 280px;
  padding: 40px;
  background: var(--c-sidebar);

  .logo {
    display: block;
    width: 28px;
    height: 28px;
    fill: var(--logo-color, var(--c-default));
    margin-bottom: 36px;
  }
  nav {
    display: grid;
    gap: 36px;

    button {
      --c-color: var(--c-default);
      --c-background: var(var(--c-sidebar));
      --icon-fill: var(var(--c-background));
      -webkit-tap-highlight-color: transparent;
      appearance: none;
      outline-width: 100px;
      outline-style: solid;
      outline-color: #1da1f2;
      background: none;

    }
  }
}
