.user {
    padding: 20px;
    margin-left: 220px;
    /* Adjust for sidebar width */
}

.user h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.user .profile {
    display: flex;
    align-items: center;
}

.user .profile-pic {
    margin-right: 20px;
}

.user .profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.user .profile-details {
    flex: 1;
}

.user .profile-details h2 {
    margin: 0;
    font-size: 1.5em;
}